@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Italic-VF.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
}

html, body {
  font-family: "Raleway", apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #FFFAF6;
}

body {
  color: #22333b;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-content, .page-footer {
  grid-column-start: 2;
}

p {
  color: #023047;
  line-height: 1.5;
  font-size: 1.2rem;
}

ol, ul {
  font-size: 1.2rem;
  line-height: 1.5;
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #191308;
  font-weight: 400;
  > a {
    color: #191308;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: #606c38;
  text-decoration: none;
}

a:visited, a:hover{
  color: #606c38;
}

.site-title, .site-title:visited {
  color: #191308;
  text-decoration: none;
}

code, pre {
  background-color: #122B3B;
  border: none;
  color: #eae0d5;
  font-size: 1rem;
}

figure.highlight {
  border-radius: 15px;
}

code.language-plaintext {
  padding: .25rem;
  border-radius: 0.25rem;
}

blockquote {
  padding: 0.5em 10px;
  margin: 0;
  border-left: 4px solid #d0d7de;
  color: #57606a;
  background-color: #f6f8fa;
}

div.highlight {
  background-color: #122B3B;
  color: #eae0d5;
  padding: 1rem;
  overflow-x: scroll;
  border-radius: 1rem;

  @media (min-width: 1024px) {
    padding: 1.5rem;
  }

  pre {
    margin: 0;
  }
}

.site-header {
  border-bottom: 1px solid #023047;
  border-top: none;
}

.site-footer {
  border-top: 1px solid #023047;
}

.nav {
  padding: 1.5rem;
  order: 4;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .nav {
    max-width: 25vw;
    order: initial;
  }
}

.nav-inner {
  position: sticky;
  top: 0;
  padding: 1rem;
}

.page-content {
  flex: 1;
  overflow-y: auto;
  height: 100vh;

  .wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.post-title {
  font-size: 2.5rem;
  margin-top: 0rem;

  .post-date {
    font-size: 1rem;
    color: #283618;
    text-decoration: underline;
    display: block;
    padding-top: 0.5rem;
  }
}

.social-icon {
  padding: 0.25rem 0;
}

time {
  color: #283618;
  text-decoration: underline;
}

.description {
  font-weight: 300;
}

img {
  max-width: 75%;
  margin: 0 auto;
  display: block;
  border-radius: 0.5rem;
}

/* Works as a caption */
img + em {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  display: block;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.project {
  .header {
    margin-bottom: 1rem;
  }

  .main {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @media (min-width: 1024px) {
      display: block;
    }

    .image {
      margin: 0;
      border-radius: 0.5rem;
      object-fit: contain;

      @media (min-width: 1024px) {
        max-width: 50%;
        height: auto;
        float: left;
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }

    .ops {
      display: flex;
      gap: 1rem;
    }
  }
}

/* About page */
.about-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  padding: 2rem;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .headshot {
    clip-path: circle(50%);
    height: 250px;
    width: 250px;
    border: 3px solid black;

    @media only screen and (max-width: 600px) {
      height: 150px;
      width: 150px;
    }
  }
}


/* Syntax highlighting styles */

.highlight .hll { background-color: #272822; }
.highlight .c { color: #9e9ea0 } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #9e9ea0 } /* Comment.Multiline */
.highlight .cp { color: #9e9ea0 } /* Comment.Preproc */
.highlight .c1 { color: #9e9ea0 } /* Comment.Single */
.highlight .cs { color: #9e9ea0 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
