<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head><meta name="viewport" content="width=device-width,initial-scale=1.0"></head>
  <link rel="stylesheet" href="{{ site.url }}/css/common.css">
  <script async src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  <script>
    window.op = window.op||function(...args){(window.op.q=window.op.q||[]).push(args);};
    window.op('init', {
      clientId: '6a961cea-b48d-4d3e-b334-9cea0e1c3cbc',
      trackScreenViews: true,
      trackOutgoingLinks: true,
      trackAttributes: true,
    });
  </script>
  <script src="https://openpanel.dev/op1.js" defer async></script>
  <body>
    <div class="nav">
      {%- include nav.html -%}
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>
</html>
